<html>

<head>
  {{ partial "head" .}}
</head>

<body class="">
  {{ partial "nav" . }}
  <div class="w-full max-w-screen-xl mx-auto px-6 pt-16 pb-20 md:pb-20 border-b">
    <div class="">
      <div class="px-6 text-left text-left max-w-2xl md:max-w-3xl mx-auto">
        <h1 class="text-3xl sm:text-4xl md:text-5xl xl:text-4xl font-light leading-tight">
          Focus on your software,
          <span class="sm:block color-kudo-blue">not deploying it to Kubernetes.</span>
        </h1>
        <p class="mt-6 leading-relaxed sm:text-lg md:text-xl xl:text-lg text-gray-700">
          The Kubernetes Universal Declarative Operator (KUDO) is a highly
          productive toolkit for writing operators for Kubernetes. Using KUDO,
          you can deploy your applications, give your users the tools they
          need to operate it, and understand how it's behaving in their
          environments &mdash; all without a PhD in Kubernetes.
        </p>
      </div>
      <div class="flex mt-6 justify-start md:justify-center">
        <a href="/docs/getting-started"
          class="rounded-lg px-4 md:px-5 xl:px-4 py-3 md:py-4 xl:py-3 bg-kudo-blue md:text-lg xl:text-base text-white font-semibold leading-tight shadow-md">Get
          Started</a>
        <a href="/docs/comparison"
          class="rounded-lg px-4 md:px-5 xl:px-4 ml-5 py-3 md:py-4 xl:py-3 md:text-lg xl:text-base font-semibold leading-tight shadow-md">Why
          KUDO?</a>
      </div>
    </div>
  </div>
  <div class="pt-6 w-full mb-20 max-w-screen-x text-center mx-auto">
    <div class="mx-auto max-w-xl text-left">
      <h1 class="text-2xl mb-2 text-center">
        There's more to life than Kubernetes
      </h1>
      <p class="mb-4 text-justify">
        Software like databases weren't built only to run on Kubernetes. They
        already have a rich set of tooling for deployment and operations, no
        matter where they are deployed. These tools are written, tested, and
        maintained by the experts who know this software best.
      </p>
      <p class="mb-4">
        KUDO encourages you to build operators that take advantage of this
        work.
      </p>
      <p>
        Instead of re-writing all of these tooling in Go, KUDO allows you to
        encapsulate your operations into plans. As a operator developer,
        plans are your route for exposing batteries-included operations for
        your software. As a user, run plans like backup and restore in
        confidence that these plans work and are tested.
      </p>
    </div>
    <div class="mx-auto mt-10 max-w-xl text-left">
      <h1 class="text-2xl mb-2 text-center">
        Complicated lifecycle? Keep it simple
      </h1>
      <p class="mb-4">
        Software with complicated lifecycles is the kind of software KUDO
        optimizes for. In many cases, submitting a bunch of manifests and
        letting pods crash until other pods have run creates additional
        complexity in the deployment and maintenance of this software.
      </p>
      <div class="mb-4">
        Init Containers go awry, binaries get wrapped in esoteric launch
        scripts that are hard to debug, and Kubernetes users have to navigate
        a minefield of misleading data with poor resolution. The solution?
        Write software that deploys your software and handles this sequencing
        for you.
      </div>
      <p class="mb-4">
        KUDO brings sequencing of complicated software lifecycles without
        having to build software to do it for you. Plans contain phases,
        steps, and tasks, allowing plans to represent the full lifecycle of
        your application's stages.
      </p>
    </div>
    <div class="mx-auto mt-10 max-w-xl text-left">
      <h1 class="text-2xl mb-2 text-center">Just Kubernetes</h1>
      <p class="mb-4">
        Other tools require learning a programming language, learning the API,
        or learning a DSL specific for building operators. For many teams,
        this doesn't overlap with their core competencies.
      </p>
      <p class="mb-4">
        Additionally, when a new version of Kubernetes is released, you have
        to wait for your toolkit to update to take advantage of any new
        upstream features in Kubernetes.
      </p>
      <p class="mb-4">
        KUDO operators are just a series of Custom Resource Definitions and
        Kubernetes templates, with configuration provided by Go Templates.
        Operators can even inherit from other formats, such as Helm, to
        quickly be able to re-use these formats and become rapidly productive
        with KUDO.
      </p>
      <p>
        <a class="color-kudo-blue" href="/docs/getting-started">Get started</a>
        with KUDO today, join the
        <a class="kudo-color-blue" href="/docs/community">community</a>, and
        build your next operator with KUDO!
      </p>
    </div>
  </div>
</body>

</html>