apiVersion: kudo.dev/v1beta1
kind: TestSuite
crdDir: ./config/crds/
manifestDirs:
- ./test/manifests/
testDirs:
- ./test/e2e
startKIND: true
kindContainers:
- kudobuilder/controller:%version%
startKUDO: false
timeout: 300
