apiVersion: kudo.dev/v1beta1
kind: TestSuite
crdDir: ./config/crds/
manifestDirs:
- ./test/manifests/
testDirs:
- ./test/e2e
commands:
- command: ./bin/kubectl-kudo init --webhook InstanceValidation --unsafe-self-signed-webhook-ca --dry-run --output yaml --kudo-image kudobuilder/controller:$KUDO_VERSION --kudo-image-pull-policy Never
startKIND: true
kindContainers:
- kudobuilder/controller:%version%
timeout: 300
