apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: planexecutions.kudo.k8s.io
spec:
  group: kudo.k8s.io
  names:
    kind: PlanExecution
    plural: planexecutions
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        inline:
          type: object
        metadata:
          type: object
        spec:
          properties:
            instance:
              type: object
            planName:
              type: string
            suspend:
              type: boolean
          required:
          - planName
          - instance
          type: object
        status:
          properties:
            name:
              type: string
            phases:
              items:
                properties:
                  name:
                    type: string
                  state:
                    type: string
                  steps:
                    items:
                      properties:
                        delete:
                          type: boolean
                        name:
                          type: string
                        state:
                          type: string
                      type: object
                    type: array
                  strategy:
                    type: string
                required:
                - steps
                type: object
              type: array
            state:
              type: string
            strategy:
              type: string
          type: object
      required:
      - inline
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
