apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: instances.kudo.dev
spec:
  group: kudo.dev
  names:
    kind: Instance
    plural: instances
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            dependencies:
              items:
                properties:
                  referenceName:
                    description: Name specifies the name of the dependency. Referenced
                      via defaults.config.
                    type: string
                  version:
                    description: 'Version captures the requirements for what versions
                      of the above object are allowed.  Example: ^3.1.4'
                    type: string
                required:
                - referenceName
                - version
                type: object
              type: array
            operatorVersion:
              description: Operator specifies a reference to a specific Operator object.
              type: object
            parameters:
              type: object
          type: object
        status:
          properties:
            activePlan:
              description: TODO turn into struct
              type: object
            status:
              type: string
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
