apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: instances.kudo.k8s.io
spec:
  group: kudo.k8s.io
  names:
    kind: Instance
    plural: instances
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        inline:
          type: object
        metadata:
          type: object
        spec:
          properties:
            dependencies:
              items:
                properties:
                  referenceName:
                    type: string
                  version:
                    type: string
                required:
                - referenceName
                - version
                type: object
              type: array
            frameworkVersion:
              type: object
            parameters:
              type: object
          type: object
        status:
          properties:
            activePlan:
              type: object
            status:
              type: string
          type: object
      required:
      - inline
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
