apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    app: kudo-manager
    controller-tools.k8s.io: "1.0"
  name: instances.kudo.dev
spec:
  group: kudo.dev
  names:
    kind: Instance
    plural: instances
    singular: instance
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            OperatorVersion:
              description: OperatorVersion specifies a reference to a specific OperatorVersion object
              type: object
            parameters:
              type: object
          type: object
        status:
          properties:
            aggregatedStatus:
              type: object
            planStatus:
              type: object
          type: object
      type: object
  version: v1beta1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
