apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: planexecutions.maestro.k8s.io
spec:
  group: maestro.k8s.io
  names:
    kind: PlanExecution
    plural: planexecutions
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            instance:
              type: object
            planName:
              type: string
          required:
          - planName
          - instance
          type: object
        status:
          properties:
            name:
              type: string
            phases:
              items:
                properties:
                  name:
                    type: string
                  state:
                    type: string
                  steps:
                    items:
                      properties:
                        name:
                          type: string
                        state:
                          type: string
                      required:
                      - name
                      - state
                      type: object
                    type: array
                  strategy:
                    type: string
                required:
                - name
                - strategy
                - state
                - steps
                type: object
              type: array
            state:
              type: string
            strategy:
              type: string
          required:
          - name
          - strategy
          - state
          - phases
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
