apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: frameworkversions.maestro.k8s.io
spec:
  group: maestro.k8s.io
  names:
    kind: FrameworkVersion
    plural: frameworkversions
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            connectionString:
              type: string
            dependencies:
              items:
                properties:
                  referenceName:
                    type: string
                  version:
                    type: string
                required:
                  - referenceName
                  - version
                type: object
              type: array
            framework:
              type: object
            plans:
              type: object
            upgradableFrom:
              items:
                type: object
              type: array
            version:
              type: string
            yaml:
              type: string
          required:
            - framework
            - version
          type: object
        status:
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
