.color-kudo-blue {
  color: #4394f7;
}

.hover\:color-kudo-blue:hover {
  color: #4394f7;
}

.color-kudo-purple {
  color: #2b0959;
}

.color-kudo-teal {
  color: #60d3be;
}

.bg-kudo-teal {
  background-color: #60d3be;
}


.bg-kudo-blue {
  background-color: #4394f7;
}



.bg-kudo-purple {
  background-color: #2b0959;
}

.docs h1 {
  @apply text-3xl;
}

.docs h2 {
  @apply text-xl;
  @apply my-4;
}

.docs ul {
  @apply ml-8;
  @apply my-4;
}

.docs code {
  @apply text-sm;
  @apply bg-gray-300;
}

.docs pre {
  @apply my-4;
}
.docs .content pre code {
 @apply p-4;
 @apply block;
}

.docs .content ul li {
  list-style-type: disc;
}

.docs h3 {
  @apply text-lg;
  @apply my-4;
}

.docs a {
  color: #4394f7;
}
