apiVersion: kudo.dev/v1alpha1
kind: PlanExecution
metadata:
  labels:
    instance: up
  name: validation
  namespace: default
  ownerReferences:
  - apiVersion: kudo.dev/v1alpha1
    blockOwnerDeletion: true
    controller: true
    kind: Instance
    name: small
spec:
  instance:
    kind: Instance
    name: small
    namespace: default
  planName: validation