# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  test:
    machine: true
    steps:
      - checkout
      - run: |
          git config user.name "Circle CI"
          git config user.email "ci@mesosphere.com"
          git merge -m "Merge Commit" origin/releases/0.3
      - run: ./test/run_tests.sh
  release:
    docker:
      - image: kudobuilder/golang:1.12
    working_directory: /go/src/github.com/kudobuilder/kudo
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run: curl -sL https://git.io/goreleaser | bash

  code-formatting:
    docker:
      - image: kudobuilder/golang:1.12
    working_directory: /go/src/github.com/kudobuilder/kudo
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}

      - run: |
          git config user.name "Circle CI"
          git config user.email "ci@mesosphere.com"
          git merge -m "Merge Commit" origin/master
      - run: make check-formatting
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
            - "/go/bin"
workflows:
  version: 2
  formatting:
    jobs:
      - code-formatting
      - test
  release:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
