# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  test:
    machine: true
    steps:
      - checkout
      - run: ./test/run_tests.sh
      - run: ./test/run_tests.sh make e2e-test
      - store_test_results:
          path: reports/

  release:
    docker:
      - image: kudobuilder/golang:1.13
    working_directory: /go/src/github.com/kudobuilder/kudo
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run: curl -sL https://git.io/goreleaser | bash

  code-formatting:
    docker:
      - image: kudobuilder/golang:1.13
    working_directory: /go/src/github.com/kudobuilder/kudo
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}

      - run: make check-formatting
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
            - "/go/bin"
workflows:
  version: 2
  test:
    jobs:
      - code-formatting
      - test
  release:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
