# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2.1
jobs:
  integration-test:
    machine: true
    steps:
      - checkout
      - run: echo 'export INTEGRATION_OUTPUT_JUNIT="true"' >> $BASH_ENV
      - run: ./test/run_tests.sh "integration-test"
      - store_test_results:
          path: reports/

  e2e-test:
    machine: true
    steps:
      - checkout
      - run: echo 'export INTEGRATION_OUTPUT_JUNIT="true"' >> $BASH_ENV
      - run: ./test/run_tests.sh e2e-test
      - store_test_results:
          path: reports/
      - store_artifacts:
          path: kind-logs.tar.bz2

  upgrade-test:
    machine: true
    steps:
      - checkout
      - run: echo 'export INTEGRATION_OUTPUT_JUNIT="true"' >> $BASH_ENV
      - run: ./test/run_tests.sh upgrade-test
      - store_test_results:
          path: reports/
      - store_artifacts:
          path: kind-logs.tar.bz2

  operator-test:
    machine: true
    steps:
      - checkout
      - run: echo 'export INTEGRATION_OUTPUT_JUNIT="true"' >> $BASH_ENV
      - run: ./test/run_tests.sh operator-test
      - store_test_results:
          path: reports/
      - store_artifacts:
          path: kind-logs.tar.bz2

  lint:
    docker:
      - image: kudobuilder/golang:1.15
    working_directory: /go/src/github.com/kudobuilder/kudo
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run: make lint
      - run: ./hack/verify-generate.sh
      - run: ./hack/verify-go-clean.sh
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
            - "/go/bin"
workflows:
  version: 2
  lint:
    jobs:
      - lint
  integration-test:
    jobs:
      - integration-test
  e2e-test:
    jobs:
      - e2e-test
  upgrade-test:
    jobs:
      - upgrade-test
  operator-test:
    jobs:
      - operator-test
