apiVersion: kudo.dev/v1alpha1
kind: Instance
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
    operator: kafka
  name: kafka
spec:
  operatorVersion:
    name: kafka-2.11-2.4.0
    namespace: default
    type: OperatorVersion
  # Add fields here
  dependency:
    - referenceName: zookeeper
      name: zk
      type: Instance
  parameters:
    KAFKA_ZOOKEEPER_URI: zk-zk-0.zk-hs:2181,zk-zk-1.zk-hs:2181,zk-zk-2.zk-hs:2181
    KAFKA_ZOOKEEPER_PATH: "/kafka"
    BROKER_COUNT: "1"
