<table>
    {{ range sort .Site.Data.events "date" }}
    {{ $t := (time .date) }}
    {{ if ge $t now.Unix }}
    <tr>
        <td>
          {{ dateFormat "Jan 2, 2006" .date }}
        </td>
        <td>
          {{ .event }}
        </td>
        <td>
          {{ .location}}
        </td>
        <td>
          {{ .topic }}
        </td>
        <td>
          {{ .speaker }}
        </td>
        <td>
           {{ if hasPrefix .url "http" }}
            <a href="{{ .url }}">{{ .url }}</a>
          {{ else }}
            {{ .url }}
          {{ end }}
        </td>
    </tr>
    {{ end }}
  {{ end }}
</table>
