{{ $postsSection := where .Site.Sections "Section" "posts" }}

<html>

<head>
  {{ partial "head" .}}
</head>

<body class="docs">
  {{ partial "nav" . }}
  <div class="flex">
    <div class="flex-none w-full max-w-xs">
      <ul class="list-reset">
        {{ $currentPage := . }}
        {{ with $postsSection }}
        {{ range $postsSection }}
        {{ range (.Pages.ByDate).Reverse }}
        <li>
          <a class="{{ if eq $currentPage .}}color-kudo-blue{{else}}text-gray-600{{end}} hover:color-kudo-blue"
            href="{{ .RelPermalink }}"><span>{{ .Title }}</a>
        </li>
        {{ end }}
        {{ end}}
        {{ end }}
      </ul>
    </div>
    <div class="w-full mx-auto px-6 pt-16 pb-40 md:pb-24 content flex-1">
      {{ template "main" .}}
    </div>
  </div>
</body>

</html>